-body {
    font-family: Arial, sans-serif;
    background-color: #070202;
    margin: 0;
    padding: 0;
}

/* Style the form container */
#form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
}

/* Style form inputs and buttons */
input[type="text"],
input[type="number"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0000009f;
    border-radius: 4px;
    font-size: 16px;
    background-color: #dbd4e6;
}

/* Style buttons individually */
#postButton {
    background-color: #ff8989;
    color: #fff;
    border: none;
    cursor: pointer;
}

#getButton {
    background-color: #ff8989;
    color: #fff;
    border: none;
    cursor: pointer;
}

#putButton {
    background-color: #ff8989;
    color: #fff;
    border: none;
    cursor: pointer;
}

#deleteButton {
    background-color: #702630;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Add some spacing to the result container */
#results {
    margin-top: 20px;
}

/* Style result container */
#results p {
    background-color: #e97a3a;
    padding: 10px;
    border: 1px solid #a75000;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}                              
